.jdfskla {
  height: 70px;
  width: 70px;
}
.repo-bg {
  margin: 10px;
  background-color: rgb(253, 241, 241);
  padding: 20px;
  font-size: 10px;
}
li {
  list-style: none;
}
.h1 {
  font-family: 'roboto';
  color: rgb(153, 47, 126);
}
.kfd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 10px;
  height: 10px;
}
.jdfsklaa {
  height: 10px;
  margin-top: 10px;
  margin-right: 20px;
  width: 10p;
}
